


body {
    background-color: #f0eada;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Cookie', Arial, sans-serif;
    flex-direction: column;
}

h1{
    font-size: 64px;
}

p{
    font-size: 36px;
}

.button{
        cursor: url('milk.png'), auto;  

}



