


body {
    background-color: #f0eada;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

.button{
        cursor: url('milk.png'), auto;  

}



